@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(62, 62, 247);
}

h1.header {
  font-size: 36px;
  color: white;
  font-family: Ubuntu, sans-serif;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  margin-top: 0;
  margin-bottom: 0;
}

h1.sec_heading {
  text-align: center;
  font-size: 28px;
}

nav {
  float: left;
  padding-right: 50px;
  background-color: rgb(218, 240, 247);
  padding-bottom: 624px;
}

h2.nav {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5px;
}

ul.nav {
  list-style: square;
  margin-top: 5px;
}

li.nav {
  padding: 5px;
  font-size: 20px;
}

a.nav {
  text-decoration: none;
  color: black;
}

a.nav:hover {
  color: darkgoldenrod;
  text-decoration: underline;
}

main {
  padding: 15px;
  margin-left: 245px;
}

article {
  text-align: center;
}

p.article {
  font-size: 20px;
}

div.link_link {
  text-align: left;
  margin-left: 120px;
}

ul {
  list-style: square;
  text-align: justify;
}

a.link {
  color: black;
  font-size: 18 px;
}

h2.article {
  text-decoration: underline;
}

footer {
  background-color: grey;
  padding: 15px;
  margin-bottom: 0;
  margin-top: 781px; 
}

/* 
TODO: bei footer den Wert von margin-top nach finaler Bearbeitung 
entsprechend korrigieren
*/